
.h2{
    text-align: center;
}
.datos{
  display: flex;
  justify-content: space-evenly;
  gap: 20px auto;
  
}
.saldo{
    text-align: left;
    padding: 10px;
}
.gestor{
    text-align: center;
    border: solid 2px blue;
    padding: 10px;
}
.text-red{
    color: red;
    border: solid 2px red
}
.text-green{
    color: rgb(63, 194, 63);
    border: solid 2px green
}
.cambiarContraseña{
    border: solid 2px rgb(255, 145, 0);
    padding: 10px;
}
.boton{
    color: white;
    background-color: black;
    text-align: left;
}
