<div class="h2">
    <h2>Mi cuenta</h2>
</div>

<div class="datos">
    <article [ngClass]="{'text-green': saldo>0, 'text-red': saldo<=0 }" class="saldo">
        <h2>Saldo:1.232,66€</h2>
    </article>

    <article class="gestor">

        <p>Gestor: Barny Stinson</p><a [href]="'tel:' +34111333999">Telefono <br> +34111333999 </a>

    </article>
    <article class="cambiarContraseña">
        <label for="password">Contraseña Actual </label><br>
        <input id="password" type="password" placeholder="Contraseña actual" /><br>
        <label for="password">Nueva Contrseña </label><br>
        <input id="password" type="password" placeholder="Nueva contrseña" /><br>
        <div><button class="boton">Confirmar</button></div>
    </article>
</div>