<section *ngIf="cliente">
<div class="h2">
    <h2>Mi cuenta</h2>
</div>

<div class="datos">
    <article class="saldo">
        <p>Saldo actual: </p>
        <p class="dinero">{{cliente.saldo}} €</p>
    </article>

    <article class="gestor">

        <p>Gestor: Barney Stinson</p>Telefono<a [href]="'tel:' +34111333999"> <br> +34111333999 </a>

    </article>
    <article class="cambiarContraseña">
        <label for="contraseña">Contraseña Actual: </label><br>
        <input id="contraseña" type="contraseña" placeholder="Contraseña actual" /><br>
        <label for="password">Nueva Contrseña: </label><br>
        <input id="password" type="password" placeholder="Nueva contrseña" /><br>
        <div><button class="boton">Confirmar</button></div>
    </article>
</div>
</section>
<p class="iniciarsesion" *ngIf="!cliente">Inicie Sesión para consultar sus datos</p>