<div class="container">
    <h2 class="title-page">Login screen</h2>
    <section class="form-login">
        <div class="credentials">
            <div class="email">
                <label for="email">Email: </label>
                <input [(ngModel)]="email" id="email" type="email" placeholder="Email" />
            </div>
            <div class="pass">
                <label for="password">Contraseña: </label>
                <input [(ngModel)]="password" id="password" type="password" placeholder="Contraseña" />
            </div>
        </div>
        <div class="credential-buttons">
            <button (click)="validarlogin()" type="submit" class="btn"><a routerLink="/pages/dashboard">Iniciar Sesión</a></button>
            <!-- <button type="reset" class="btn">Reset</button> -->
        </div>
    </section>
</div>