

a {
    text-decoration: none;
    color: white
}

.container {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgb(29, 28, 28);
}

.title-page {
    color: rgba(0, 255, 13, 0.767);
}

.email {
    display: flex;
    justify-content: left;
    margin: 10px;
    color: white;
}

.pass {
    display: flex;
    justify-content: left;
    margin: 10px;
    color: white
}

.credential-buttons {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #20e2e9;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #05767a;
}

.btn:active {
    background-color: #3f5ce0;
}