<div class="informacion">
    <label for="beneficiario">Beneficiario: </label><br>
    <input id="text" type="text" [(ngModel)]="Beneficiario" placeholder="ID Beneficiario"> <br>
    <label for="importe">Importe: </label><br>
    <input id="importe" type="number" [(ngModel)]="Importe" placeholder="Importe" /><br>
    <label for="concepto">Concepto: </label><br>
    <input id="concepto" type="text" [(ngModel)]="Concepto" placeholder="Concepto" /><br>
    <button type="submit" class="btn-confirmar">Confirmar</button>
</div>