<section *ngIf="cliente">
<div class="informacion">
    <label for="beneficiario">Beneficiario: </label><br>
    <input [(ngModel)]="nuevaTransferencia.clienteBeneficiario.id" id="text" type="text" placeholder="ID Beneficiario"> <br>
    <label for="importe">Importe: </label><br>
    <input [(ngModel)]="nuevaTransferencia.importe" id="importe" type="number" placeholder="Importe" /><br>
    <label for="concepto">Concepto: </label><br>
    <input [(ngModel)]="nuevaTransferencia.concepto" id="concepto" type="text" placeholder="Concepto" /><br>
    <button (click)="enviarTransferencia()" class="btn-confirmar">Confirmar</button>
    <p>{{feedback}}</p>
</div>
</section>
<p class="iniciarsesion" *ngIf="!cliente">Inicie Sesión para consultar sus datos</p>