* {
    box-sizing: border-box;
}
div {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.recibidas{
    border: solid 4px black;
    cursor: pointer;
    padding:  20px;
    border-radius: 8%;
    
}
.recibidas:hover{
    cursor: pointer;
    border: solid 4px green;
    background-color: rgb(4, 206, 4);
}
.enviadas {
    border: solid 4px black;
    cursor: pointer;
    padding:  20px;
    border-radius: 8%;    
}
.enviadas:hover{
    cursor: pointer;
    border: solid 4px red;
    background-color: rgb(235, 80, 80);
}
@media screen and (max-width: 768px) {
    div {
        flex-direction: column;
        align-items: center;
    }

    .recibidas,
    .enviadas {
        width: 90%;
        margin-bottom: 20px;
    }
}