*{
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #20e2e9;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #05767a;
}

.btn:active {
    background-color: #3f5ce0;
}

a {
    text-decoration: none;
}


.income{
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    color: black;
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgb(99, 97, 97);
}
.expenses{
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    color: black;
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgb(99, 97, 97);
}