.fila-tabla{
    display: flex;
    justify-content: space-between;
}
.fila-tabla > div {
    width: 25%;
}
.cabecera-tabla{
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .fila-tabla {
      flex-direction: column;
      text-align: center;
    }
    
    .fila-tabla > div {
      width: 100%;
    }
  }