<section *ngIf="cliente">
<div class="fila-tabla cabecera-tabla">
    <div>Importe</div>
    <div>Concepto</div>
    <div>Fecha</div>
</div>
<article class="fila-tabla" *ngFor="let transferencia of transferencias">
    <div>{{transferencia.importe | currency:'EUR'}}</div>
    <div><a [routerLink]="'/pages/transferencia-completa/'+ transferencia.id"> {{transferencia.concepto}}</a></div> 
    <div>{{transferencia.fecha | date:'short'}}</div>
</article>
</section>
<p class="iniciarsesion" *ngIf="!cliente">Inicie Sesión para consultar sus datos</p>